<!DOCTYPE html>
<html>
<head>
    <title> Water complaints on Twitter</title>
    <meta charset="utf-8" />
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-heading">
      Please Choose a Data File
    </div>
    <div class="panel-body">
      <div class="list-group">
        {% for n, l in fs %}
        <a class="list-group-item" href="{{ l }}">{{ n }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>
