<!DOCTYPE html>
<html>
<head>
    <title> Water complaints on Twitter</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="input-group">
      <span class="input-group-addon">Search: </span>
      <input id='q' type="text" class="form-control" placeholder="Wateroverlast">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="chart-timeline"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="wordbox" id="word-left"></div>
        <div class="wordbox" id="word-top"></div>
        <div class="wordbox" id="word-right"></div>
        <div class="wordbox" id="word-bottom"></div>
        <canvas id="word-cloud" width=800px height=600px></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover" id="tweet-table">
          <thead class="header">
            <td>Id</td>
            <td>Date</td>
            <td>Name</td>
            <td>Tweet</td>
          </thead>
        </table>
      </div>
    </div>
    <div class="modal fade" id="dialog-indexing">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Indexing for {{ filename }} ...</h4>
          </div>
          <div class="modal-body">
            <p>
              Please be patient while the backend is indexing the log file.
              This may take minutes.
            </p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/crossfilter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/dc.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/dc.css" type="text/css" media="screen" charset="utf-8">
    <script src="/static/wordfreq.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/wordcloud2.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/d3.layout.cloud.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/main.js" type="text/javascript" charset="utf-8"></script>
    <script>
      (function(){
        var indexing_api_url = "/api/process/"
        var indexed = {{ indexed }};
        $('#q').keydown(function (e){
            if(e.keyCode == 13){
              tweetcharts.search($('#q').val(), '{{ filename }}')
            }
        });
        if(!indexed){
          $('#dialog-indexing').modal('show');
          $.get(indexing_api_url + '{{ filename }}').done(function(ret){
              if(ret.succeeded){
                alert('Indexing succeeded!');
              }
              else{
                alert('Failed!');
              }
            $('#dialog-indexing').modal('hide');
          })
        }
      }());
    </script>
</body>
</html>
